.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar a,
.navbar span {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar a:hover,
.navbar span:hover {
  text-decoration: underline;
}

.user-info,
.auth-links {
  display: flex;
  align-items: center;
  position: relative;
}

.user-info span {
  margin-right: 1rem;
  cursor: pointer;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Styles pour le menu déroulant */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%; 
  background-color: #f9f9f9;
  width: 120px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-info:hover .dropdown-content {
  display: block; 
}

/* Styles pour les liens dans le menu déroulant */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

/* Styles spécifiques pour le lien profil */
.dropdown-content a.dropdown-link1 {
  text-decoration: none;
  color: #555;
  background-color: #f9f9f9; 
}

.dropdown-content a.dropdown-link1:hover {
  background-color: #e6e6e6; 
}

/* Styles spécifiques pour le bouton de déconnexion */
.dropdown-content a.logout-button {
  text-decoration: none; 
  background-color: #d9534f; 
  color: white;
}

/* Styles spécifiques pour le bouton de déconnexion au survol */
.dropdown-content a.logout-button:hover {
  background-color: #c9302c; 
}
